@use "variables" as var;
@use "mixins";
@use "animations";

.navbar {
  position: relative;
  .navbar-links {
    position: absolute;
    transform: translateX(-100%);
  }

  &.active .navbar-links {
    position: absolute;
    top: 0;
    left: 0;
    background: var.$gradient-color;
    padding: 1rem 2rem;
    animation: showMenu 0.5s ease-in-out;
    animation-fill-mode: forwards;
    transition: all 0.5s ease-in-out;
  }
}

.nav-link {
  @include mixins.paragraph;
  @include mixins.nav-link;
}

.darkMode {
  .nav-link {
    @include mixins.paragraph(var.$opaque-white);
    @include mixins.nav-link(var.$white);
  }
}
